html,
body,
#root {
    min-height: 100vh;
}

body {
    background: #1E1E1E;
    color: #fff;
    font-family: "Inter", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

.wrapper {
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

main {
    flex: 1;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 50px 40px;
}

.filter {
    width: 220px;
}

.filter h4 {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 400;

    cursor: pointer;
    transition: 0.2s;
}

.filter h4:hover {
    color: red;
}

.active {
    color: red;
}

.movies {
    display: flex;
    flex-wrap: wrap;

    gap: 30px;

    width: 100%;
}

.movie {
    width: 180px;
}

.movie img {
    width: 100%;
    margin-bottom: 15px;

    border-radius: 8px;
}

.movie h2 {
    font-size: 15px;
    font-weight: 400;

    text-align: center;

    margin-bottom: 10px;
}

.movie p {
    text-align: center;
    color: #bdbdbd;
}

.footer {
    padding: 20px;

    text-align: center;

    border-top: 1px solid #333;
}