body{
    background: #1E1E1E;
    color: #fff;
    font-family: "Inter", sans-serif;
}


*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Inter", sans-serif;
}

.movies{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: auto;
    padding-right: 43px;
    font-weight: 400;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 40px;
    padding-top: 50px;
}

.filter h4{
    margin-bottom: 15px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
}

.filter{
    width: 90%;
}

.movie{
    width: 180px;
    margin-bottom: 22px;
    margin-right: 30px;
}
.movie img{
    margin-bottom: 15px;
}
h2{
    font-size: 15px;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    color: #fff;
}
.active{
    color: red;
}